html {

    font-size: 62.5%;
}

.conteinerUB {

    width: 20%;
    height: 20%;

    position: absolute;
    z-index: 5;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    border: solid;
    border-width: 3px;

    background-color: #FFF;
}

.topContentUB {

    width: 100%;
    height: 15%;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;

    border-bottom: solid;
    border-bottom-width: 3px;

    box-shadow: rgba(0,0,0,0.2) 0px 5px 10px;
}

.topContentUB p {

    height: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 1.6em;
    font-weight: bold;

    padding-left: 1%;
}

.closeIconUB {

    transition: transform 1s;
}

.closeIconUB:hover {

    transform: scale(1.1);
}

.contentUB {

    width: 100%;
    height: 85%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    text-align: center;
}

.contentUB h1 {

    height: fit-content;
    width: fit-content;

    font-size: 2.6em;
    font-weight: bolder;

    margin-bottom: 5%;
}

.contentUB p {

    height: fit-content;
    width: fit-content;

    font-size: 1.2em;
    font-weight: 100;

    text-align: center;

    margin-bottom: 5%;
}

.contentUB button{

    width: fit-content;
    height: fit-content;

    border: dashed;
    border-color: #000;
    border-width: 1px;

    padding: 1%;

    background-color: #FFF;

    font-size: 1.2em;
    font-family: 'Roboto Mono';

    transition: transform 1.5s;
}

.contentUB button:hover {

    transform: scale(1.1);
}

/* Responsividade para o eixo x */

@media (max-width: 1800px) {

    .conteinerUB {

        width: 22.5%;
    }
}

@media (max-width: 1650px) {

    .conteinerUB {

        width: 25%;
    }

    .contentUB p {

        font-size: 1.4em;
    }
}

@media (max-width: 1550px) {

    .conteinerUB {

        width: 27.5%;
    }
}

@media (max-width: 1440px) {

    .conteinerUB {

        width: 30%;
    }
}

@media (max-width: 1330px) {

    .conteinerUB {

        width: 32.5%;
    }
}

@media (max-width: 1220px) {

    .conteinerUB {

        width: 35%;
    }
}

@media (max-width: 1110px) {

    .conteinerUB {

        width: 37.5%;
    }
}

@media (max-width: 1024px) {

    .conteinerUB {

        width: 40%;
    }

    .contentUB h1 {

        font-size: 2.4em;
    }
}

@media (max-width: 950px) {

    .conteinerUB {

        width: 42.5%;
    }
}

@media (max-width: 850px) {

    .conteinerUB {

        width: 45%;
        height: 17.5%;
    }
}

@media (max-width: 768px) {

    .conteinerUB {

        width: 47.5%;
    }

    .contentUB h1 {

        font-size: 2.2em;
    }
}

@media (max-width: 650px) {

    .conteinerUB {

        width: 55%;
    }
}

@media (max-width: 550px) {

    .conteinerUB {

        width: 60%;
    }
}

@media (max-width: 499px) {

    .conteinerUB {

        width: 65%;
    }
}

@media (max-width: 425px) {

    .conteinerUB {

        width: 70%;
        height: 15%;
    }
}

/* Responsividade para o eixo y */

@media (max-height: 925px) {

    .conteinerUB {

        height: 22.5%;
    }
}

@media (max-height: 800px) {

    .conteinerUB {

        height: 25%;
    }
}

@media (max-height: 720px) {

    .conteinerUB {

        height: 27.5%;
    }
}

@media (max-height: 600px) {

    .conteinerUB {

        height: 30%;
    }
}

/* Responsividade para o eixo x e y */

@media (max-width: 1024px) and (max-height: 768px) {

    .conteinerUB {

        width: 35%;
    }
}

@media (max-width: 800px) and (max-height: 768px) {

    .conteinerUB {

        width: 45%;
    }
}

@media (max-width: 600px) and (max-height: 768px) {

    .conteinerUB {

        width: 55%;
    }
}
