html {

    font-size: 62.5%;
}

.conteinerFB {

    width: 40%;
    height: 95%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    position: absolute;
    top: 5%;
    left: 30%;

    border-right: solid;
    border-right-width: 3px;
    border-left: solid;
    border-left-width: 3px;

    background-color: #FFF;
    box-shadow: rgba(0,0,0,0.2) 0px 0px 10px 10px;
}

/* Configuração de Design do Feed */

.feedConteinerFB {

    width: 100%;
    height: fit-content;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;

    overflow-y: scroll;

    padding-top: 2%;
    padding-bottom: 2%;
}

.feedIconFB {

    width: 40px;
    height: 40px;

    display: flex;
    align-items: center;
    justify-content: center;

    border:solid;
    border-width: 2px;
    border-radius: 10px;

    margin-left: 0.5%;
    margin-right: 0.5%;

    padding: 0.5%;

    background-color: #000;
    box-shadow: rgba(0,0,0,0.2) -5px 5px 10px;

    transition: transform 1s;
}

.feedIconFB:hover {

    transform: scale(1.05);
}

.feedBottomFB {

    width: 95%;
    height: fit-content;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    border-top: solid;
    border-width: 2px;

    margin-right: 2%;
    padding: 2%;
}

.newPublicationFB {

    width: 97%;
    height: fit-content;

    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;

    border: solid;
    border-width: 2px;
    border-radius: 10px;

    padding: 1%;

    box-shadow: rgba(0,0,0,0.2) -5px 5px 10px;
}

.newPublicationTextFB {

    width: 100%;

    resize: none;

    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;

    outline: none;
    border:none;
}

.textLimitFB {

    width: 100%;
    height: fit-content;

    display: flex;
    align-items: center;
    justify-content: flex-end;

    margin-top: 1%;
}

.feedPublicationFB {

    width: 95%;
    height: fit-content;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;

    margin-top: 1%;
}

.feedPublicationFB button {

    width: 20%;
    height: 75%;

    border: solid;
    border-width: 2px;
    border-radius: 20px;

    font-family: 'Roboto Mono';
    font-size: 1.4em;
    font-weight: bold;

    transition: transform 0.5s;
}

.feedPublicationFB button:hover {

    transform: scale(1.1);
}

.sendIconFB {

    transition: transform 1.5s;
}

.sendIconFB:hover {

    transform: scale(1.1);
}

.feedImageFB {

    width: fit-content;
    height: fit-content;

    display: flex;
    align-items: center;
    justify-content: center;

    overflow:hidden;

    border:solid;
    border-width: 2px;
    border-radius: 10px;

    margin-top: 1%;
}