html {

    font-size: 62.5%;
}

.conteinerFB {

    width: 40%;
    height: 95%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    position: absolute;
    top: 5%;
    left: 30%;

    border-right: solid;
    border-right-width: 3px;
    border-left: solid;
    border-left-width: 3px;

    background-color: #FFF;
    box-shadow: rgba(0,0,0,0.2) 0px 0px 10px 10px;
}

.conteinerFB h1 {

    width: 20%;
    height: 10%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.conteinerFB button {

    width: 20%;
    height: 5%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Configuração de Design de Perfil Config */

.perfilConfigContentFB {

    width: 90%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.headerFB {

    width: 100%;
    height: 5%;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;

    border-bottom: solid;
    border-width: 2px;
    border-color: #a0a0a0;

    padding-left: 2%;
    padding-right: 2%;

    margin-top: 5%;
}

.headerFB p {

    width: 80%;

    display: flex;
    align-items: center;
    justify-content: flex-end;

    font-size: 22px;
    font-weight: bold;

}

.closeIconFB {

    width: 35px;
    height: 35px;

    transition: transform 1.5s;
}

.closeIconFB:hover {

    transform: scale(1.25)
}

.imgFB {

    width: 100%;
    height: 100%;

    display: flex;

    position: absolute;
    z-index: 0;
}

.uploadCapaFB {

    width: 15%;
    height: 10%;

    position: relative;
    z-index: 1;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 2%;
    margin-right: 2%;

    border:dashed;
    border-width: 2px;

    transition: transform 1s;
}

.uploadCapaFB:hover {

    transform: scale(1.2);
}

.uploadPerfilFB {

    width: 70%;
    height: 20%;

    position: relative;
    z-index: 1;

    display: flex;
    align-items: center;
    justify-content: center;

    border:dashed;
    border-width: 2px;

    transition: transform 0.5s;
}

.uploadPerfilFB:hover {

    transform: scale(1.1);
}

.changeNicknameFB {

    width: 100%;
    height: 8%;

    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-direction: column;

    margin-top: 2%;
    margin-left: 4%;
}

.changeNicknameFB input {

    height: 50%;
    width: 50%;

    border:solid;
    border-width: 2px;
    border-color: #a0a0a0;
    border-radius: 5px;

    outline: none;

    font-size: 2.0em;
    font-weight: bold;

    padding: 1%;
}

.changeNicknameFB p {

    font-size: 1.2em;
}

/* Configurações de Design do Perfil */

.perfilContentFB {

    height: 100%;
    width: 90%;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column; 
}

.imagemCapaFB {

    width: 100%;
    height: 25%;

    position: relative;
    z-index: 0;

    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    
    border-bottom: solid;
    border-bottom-width: 3px;

    margin-top: 5%;

    /*box-shadow: rgba(0,0,0,0.2) 0px 5px 10px;*/
}

.imagemPerfilFB {

    height: 125px;
    width: 125px;

    border: solid;
    border-width: 3px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    z-index: 1;

    overflow: hidden;

    margin-bottom: 2%;
    margin-left: 2%;

    background-color: #FFF;
}

.topContentFB {

    width: 95%;
    height: 5%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    margin-top: 2%;
}

.topContentFB button:hover {

    transform: scale(1.1);
}

.infoBasicaFB {

    height: 100%;
    width: 95%;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.infoBasicaFB p {

    width: 70%;

    font-size: 2.6em;
    font-weight: bold;
}

.followsFB {

    width: 100%;
    height: 15%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.followsFB p {

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 1.4em;
    font-weight: bold;
}

.midleContentFB {

    height: 25%;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    border-top: dotted;
    border-top-width: 3px;
    border-bottom: dotted;
    border-bottom-width: 3px;

    margin-top: 2%;
}

.descricaoFB {

    height: 55%;
    width: 75%;

    border:solid;
    border-width: 3px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 2%;
}

.descricaoFB p {

    text-align: justify;
    text-justify: inter-word;
    white-space: pre-wrap;
    text-indent: 0;

    font-size: 1.4em;
}

.feedPessoalFB {

    height: 35%;
    width: 100%;

    border: solid;
    border-bottom: none;
    border-width: 3px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    margin-top: 5%;
}

.editIconFB {

    width: 5%;

    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}