.conteinerFB {

    width: 40%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    position: absolute;
    bottom: 0%;
    left: 30%;

    border-right: solid;
    border-right-width: 3px;
    border-left: solid;
    border-left-width: 3px;

    background-color: #FFF;
    box-shadow: rgba(0,0,0,0.2) 0px 0px 10px 10px;
}

.conteinerFB h1 {

    width: 20%;
    height: 10%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.conteinerFB button {

    width: 20%;
    height: 5%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}