html {

    font-size: 62.5%;

}

.errorMsgNP{

    height: 0;
    width: 75%;

    font-size: 1.4em;
    text-align: left;

    color: red;
    display: none;
}

.conteinerNP {

    height: 100%;
    width: 100%;

    position: absolute;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;

    background: linear-gradient(to bottom, #7F39FB, #FC80B5);
}

.boxNP {

    width: 35%;
    height: 35%;

    align-items: center;
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;

    border: solid;
    border-color: #000;
    border-width: 3px;

    background-color: #FFF;
    box-shadow: rgba(0, 0, 0, 0.2) -10px 10px 10px 0px;
}

.contentBoxNP {

    width: 90%;
    height: 30%;

    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
}

.textBoxNP {

    width: 75%;

    font-size: 1.6em;
    font-weight: lighter;

    display: flex;
    align-items: center;
    justify-content: flex-start;

    margin-bottom: 1%;
}

.contentBoxNP input {

    width: 75%;
    height: 40%;

    display: flex;
    align-items: center;
    justify-content: center;

    border: solid;
    border-color: #a0a0a0;
    border-width: 2px;
    border-radius: 5px;

    outline: none;

    padding: 1%;

    font-size: 1.8em;
    font-family: 'Roboto Mono';

    box-shadow: rgba(0, 0, 0, 0.2) -5px 5px 10px;

    transition: transform 1.5s;
}

.contentBoxNP input:hover {

    transform: scale(1.1);
}

.bottomBoxNP {

    width: 90%;
    height: 30%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.bottomBoxNP button {

    width: fit-content;
    height: fit-content;

    border: dashed;
    border-width: 2px;

    padding: 1%;

    font-size: 1.4em;
    font-family: 'Roboto Mono';
    
    background-color: #FFf;

    transition: transform 1.5s;
}

.bottomBoxNP button:hover {

    transform: scale(1.1);
}

.topBoxNP {

    width: 100%;
    height: 12.5%;

    align-items:center;
    display: flex;
    justify-content: space-between;

    border-width:3px;
    border-bottom:solid;

    box-shadow: rgba(0,0,0,0.2) 0px 5px 10px;
    background-color: #FFF;
}

.topBoxNP p {

    font-size: 1.8rem;
    line-height: 1.8rem;

    font-family:'Roboto Mono';
    font-weight: bold;

    padding-left: 5px;
}

.closeIconNP {

    display: flex;
    align-items: center;

    border:none;
    margin-right: 2px;

    color:black;

    transition: transform 0.5s;
}

.closeIconNP:hover {

    transform: scale(1.15);
}

/* Responsividade para o eixo x */

@media (max-width: 1800px) {

    .boxNP {

        width: 40%;
    }
}

@media (max-width: 1650px) {

    .boxNP {

        height: 30%;
    }
}

@media (max-width: 1440px) {

    .boxNP {

        width: 45%;
    }
}

@media (max-width: 1220px) {

    .boxNP {

        height: 25%;
    }
}

@media (max-width: 1024px) {

    .boxNP {

        width: 50%;
        height: 30%;
    }
}

@media (max-width: 768px) {

    .boxNP {

        height: 25%;
        width: 65%;
    }
}

@media (max-width: 600px) {

    .boxNP {

        width: 75%;
    }
}

@media (max-width: 425px) {

    .boxNP {

        width: 85%;
    }
}

/* Responsividade para o eixo y */

@media (max-height: 800px) {

    .boxNP {

        height: 50%;
    }
}

@media (max-height: 600px) {

    .boxNP {

        height: 45%;
    }
}

/* Responsividade para o eixo x e y */

@media (max-width: 1024px) and (max-height: 768px) {

    .boxNP {

        width: 50%;
        height: 35%;
    }
}

@media (max-width: 600px) and (max-height: 768px) {

    .boxNP {

        width: 70%;
    }
}

@media (max-width: 600px) and (max-height: 850px) {

    .boxNP {

        height: 35%;
    }
}

