.conteinerPB {

    width: 4%;
    height: 95%;

    position: absolute;
    left: 0;
    top: 5%;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

    border-right: solid;
    border-right-width: 3px;

    padding-top: 1%;

    background-color: #FFF;
    box-shadow: rgba(0,0,0,0.2) 10px 0px 10px;
}

.expandedPB {

    width: 12%;
    height: 95%;

    position: absolute;
    left: 0;
    top: 5%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    border-right: solid;
    border-right-width: 3px;

    padding-top: 1%;

    background-color: #FFF;
    box-shadow: rgba(0,0,0,0.2) 10px 0px 10px;
}

.iconContentPB {

    width: 100%;
    height: 90%;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.contentPB {

    height: 10%;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.iconExpandedPB {

    height: 10%;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;

    padding-left: 8.5%;
}

.iconExpandedPB p {

    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;

    padding-left: 5%;

    font-size: 16px;
    font-weight: bold;
}

/*.perfilContentPB {

    width: 90%;
    height: 95%;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.topContentPB {

    width: 100%;
    height: 35%;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;

    overflow: hidden;

    border-bottom: solid;
    border-bottom-width: 2px;
    border-color: #a0a0a0;
}

.perfilImagePB {

    height: 50%;
    width: 65%;

    border:solid;
    border-width: 3px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.nicknamePB {

    width: 100%;
    height: 10%;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 22px;
    font-weight: bold;
}

.followsPB {

    width: 100%;
    height: 15%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.followsPB p{
    
    font-size: 16px;
    font-weight: 500;
}

.midleContentPB {

    width: 100%;
    height: 50%;

    white-space: normal;
}

.midleContentPB p {

    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    text-align: justify;
    text-justify: inter-word;
    white-space: pre-wrap;
    text-indent: 0;

    font-size: 12px;
}

.bottomContentPB {

    width: 100%;
    height: 10%;

    display: flex;
    justify-content: center;
    align-items: center;

    border-top: solid;
    border-top-width: 2px;
    border-color: #a0a0a0;
}

.bottomContentPB button{

    width: 75%;
    height: 45%;

    border: dashed;
    border-width: 2px;

    background-color: transparent;
    box-shadow: rgba(0,0,0,0.2) -5px 5px 10px;

    font-size: 14px;
    font-family: 'Roboto Mono';

    transition: transform 1.5s;
}

.bottomContentPB button:hover {

    transform: scale(1.1);
}*/