.conteinerPB {

    width: 5%;
    height: 95%;

    position: absolute;
    left: 0;
    top: 5%;

    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-direction: column;

    border-right: solid;
    border-right-width: 3px;

    background-color: #FFF;
    box-shadow: rgba(0,0,0,0.2) 10px 0px 10px;
}

.expandedPB {

    width: 15%;
    height: 95%;

    position: absolute;
    left: 0;
    top: 5%;

    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-direction: column;

    border-right: solid;
    border-right-width: 3px;

    background-color: #FFF;
    box-shadow: rgba(0,0,0,0.2) 10px 0px 10px;
}