html {

    font-size: 62.5%;

}

.conteinerU {

    height: 100%;
    width: 100%;

    position: absolute;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;

    background: linear-gradient(to bottom, #7F39FB, #FC80B5);
}