html {
  font-size: 62.5%;
}

/* Design básico do componente Perfilbox */

.conteinerPerfilBox {
  width: 40%;
  height: 95%;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;

  position: absolute;
  top: 5%;
  left: 30%;

  border-right: solid;
  border-right-width: 3px;
  border-left: solid;
  border-left-width: 3px;

  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px 10px;
}

/* Design das imagens do componente Pefilbox */

.capaPerfilBox {
  width: 90%;
  height: 25%;

  position: relative;
  z-index: 0;

  display: flex;
  align-items: flex-end;
  justify-content: space-between;

  border-bottom: solid;
  border-bottom-width: 3px;

  margin-top: 5%;
}

.fotoPerfilBox {
  height: 125px;
  width: 125px;

  border: solid;
  border-width: 3px;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  z-index: 1;

  overflow: hidden;

  margin-bottom: 2%;
  margin-left: 2%;

  background-color: #fff;
}

.imagemPerfilBox {
  width: 100%;
  height: 100%;

  display: flex;

  position: absolute;
  z-index: 0;
}

.uploadCapaPerfilConfig {
  width: fit-content;
  height: fit-content;

  position: relative;
  z-index: 1;

  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 2%;
  margin-right: 2%;

  padding: 1%;

  border: solid;
  border-width: 2px;

  box-shadow: rgba(0, 0, 0, 0.4) -2px 2px 6px;

  transition: transform 1s;
}

.uploadCapaPerfilConfig:hover {
  transform: scale(1.2);
}

.uploadFotoPerfilConfig {
  width: fit-content;
  height: fit-content;

  position: relative;
  z-index: 1;

  display: flex;
  align-items: center;
  justify-content: center;

  border: solid;
  border-width: 2px;

  padding: 5%;

  box-shadow: rgba(0, 0, 0, 0.4) -2px 2px 6px;

  transition: transform 0.5s;
}

.uploadFotoPerfilConfig:hover {
  transform: scale(1.1);
}

/* Design das informações superiores do perfil */

.topContentPerfilBox {
  width: 90%;
  height: 5%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;

  margin-top: 5%;
}

.infoBasicaPerfilBox {
  height: 100%;
  width: 35%;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;

  padding-left: 2%;
}

.infoBasicaPerfilBox p {
  font-size: 2.4em;
  font-weight: bold;
}

.infoFollowPerfilBox {
  width: 55%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
}

.followPerfilBox {
  width: 30%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.followPerfilBox p {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 1.4em;
  font-weight: bold;
}

.editIconPerfilBox {
  width: 10%;

  display: flex;
  align-items: flex-end;
  justify-content: flex-end;

  padding-right: 2%;
}

/* Design das informações do perfil */

.midContentPerfilBox {
  height: 15%;
  width: 90%;

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;

  margin-top: 5%;
}

.infoExtraPerfilbox {
  width: 100%;
  height: 30%;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;

  border-left: solid;
  border-left-width: 3px;
  border-top: solid;
  border-top-width: 3px;
  border-top-left-radius: 10px;
}

.infoExtraPerfilbox p {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;

  padding-left: 2%;

  font-size: 1.6em;
}

.biograficaPerfilBox {
  height: 70%;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  border-left: solid;
  border-left-width: 3px;

  padding-left: 2%;
  padding-top: 1%;
}

.biograficaPerfilBox p {
  width: fit-content;

  min-width: 5%;

  text-align: center;
  text-justify: inter-word;
  white-space: pre-wrap;
  text-indent: 0;

  font-size: 1.4em;
  font-weight: bold;
}

/* Design do feed pessoal do perfil */

.feedConteinerPerfilBox {
  height: 45%;
  width: 90%;

  border-top: solid;
  border-width: 3px;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;

  margin-top: 5%;
}

.feedPerfilBox {
  width: 110%;
  height: fit-content;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;

  overflow-y: scroll;

  padding-top: 2%;
  padding-left: 2%;
  padding-bottom: 2%;
}

.nofeedPerfilBox {

  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.noPublicationPerfilBox {

  width: 95%;
  height: fit-content;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  font-size: 1.6em;
  text-align: center;
}

.noPublicationPerfilBox p:first-child {

  font-weight: bold;
  font-size: 18px;

  padding-bottom: 2%;
}

/* Design do cabeçalho das configurações de perfil */

.headerPerfilBox {
  width: 90%;
  height: 5%;

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;

  border-bottom: solid;
  border-width: 3px;

  padding-left: 2%;
  padding-right: 2%;

  margin-top: 5%;
}

.headerPerfilBox p {
  width: 80%;

  display: flex;
  align-items: center;
  justify-content: flex-end;

  font-size: 22px;
  font-weight: bold;
}

.returnIconPerfilBox {
  width: 35px;
  height: 35px;

  transition: transform 1.5s;
}

.returnIconPerfilBox:hover {
  transform: scale(1.25);
}

/* Design dos inputs das configurações do perfil */

.inputApelidoPerfilBox {
  width: 85%;
  height: 7.5%;

  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;

  border: solid;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-width: 2px;

  overflow: hidden;

  margin-top: 5%;

  box-shadow: rgba(0, 0, 0, 0.4) -5px 5px 10px;
}

.titleNicknamePerfilBox {
  width: 100%;
  height: 35%;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;

  border-bottom: solid;
  border-width: 2px;

  padding: 1%;

  background-color: #fff;
}

.titleNicknamePerfilBox p {
  font-size: 1.2em;
  font-weight: bold;
}

.contentNicknamePerfilBox {
  width: 100%;
  height: 75%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.contentNicknamePerfilBox p {
  font-size: 1.4em;
}

.contentNicknamePerfilBox input {
  width: 90%;
  height: 70%;

  display: flex;
  align-items: center;
  justify-content: center;

  border: none;
  outline: none;

  font-size: 1.4em;
  text-align: center;
  font-family: "Roboto Mono";
}

.inputBiografiaPerfilBox {
  width: 85%;
  height: 15%;

  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;

  border: solid;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-width: 2px;

  overflow: hidden;

  margin-top: 5%;

  box-shadow: rgba(0, 0, 0, 0.4) -5px 5px 10px;
}

.titleBiografiaPerfilBox {
  width: 100%;
  height: 17.5%;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;

  border-bottom: solid;
  border-width: 2px;

  padding: 1%;

  background-color: #fff;
}

.titleBiografiaPerfilBox p {
  font-size: 1.2em;
  font-weight: bold;
}

.contentBiografiaPerfilBox {
  width: 100%;
  height: 88%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.contentBiografiaPerfilBox p {
  font-size: 1.4em;
}

.contentBiografiaPerfilBox textarea {
  width: 90%;
  height: 80%;

  display: flex;
  align-items: center;
  justify-content: center;

  resize: none;

  border: none;
  outline: none;

  font-size: 14px;
  text-align: center;
}

.newBioPerfilBox {
  width: 100%;

  resize: none;

  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;

  outline: none;
  border: none;
}

/* Design das mensagens de erro das configurações do perfil */

.erroPerfilBox {
  width: 85%;
  height: fit-content;

  margin-top: 1%;
  padding-left: 1%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.erroMessageperfilBox {
  height: 0;
  width: 100%;

  color: red;
  display: none;

  font-size: 1.2em;
}

/* Design do botão de salvar as configurações do perfil */

.botContentPerfilBox {
  width: 100%;
  height: 30%;

  display: flex;
  align-items: flex-end;
  justify-content: center;

  padding-bottom: 5%;
}

.saveButtonPerfilBox {
  width: fit-content;
  height: fit-content;

  font-size: 1.4em;
  font-family: "Roboto Mono";
  font-weight: bold;

  border: dashed;
  border-width: 2px;

  padding: 1%;

  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.4) -5px 5px 10px;

  transition: transform 1.5s;
}

.saveButtonPerfilBox:hover {
  transform: scale(1.1);
}
/* Responsividade para o eixo x */

@media (max-width: 1800px) {

  .conteinerPerfilBox {

    width: 45%;

    left: 27.5%;
  }
}

@media (max-width: 1650px) {

  .conteinerPerfilBox {

    width: 50%;

    left: 25%;
  }
}

@media (max-width: 1440px) {

  .conteinerPerfilBox {

    width: 55%;

    left: 22.5%;
  }
}

@media (max-width: 1220px) {

  .conteinerPerfilBox {

    width: 60%;

    left: 20%;
  }
}

@media (max-width: 1024px) {

  .conteinerPerfilBox {

    width: 65%;

    left: 17.5%;
  }

  .nofeedPerfilBox p {

    font-size: 14px;
  }

  .nofeedPerfilBox p:first-child {

    font-size: 16px;

    padding-bottom: 4%;
  }
}

@media (max-width: 900px) {

  .conteinerPerfilBox {

    width: 70%;

    left: 15%;
  }
}

@media (max-width: 825px) {

  .conteinerPerfilBox {

    width: 75%;

    left: 12.5%;
  }

  .infoBasicaPerfilBox p {

    font-size: 2.2em;
  }

  .followPerfilBox p {

    font-size: 1.2em;
  }
}

@media (max-width: 768px) {

  .conteinerPerfilBox {

    width: 80%;

    left: 10%;
  }
}

@media (max-width: 680px) {

  .headerPerfilBox p {

    font-size: 20px;
  }

  .conteinerPerfilBox {

    width: 90%;

    left: 5%;
  }
}

@media (max-width: 600px) {

  .conteinerPerfilBox {

    width: 100%;

    left: 0%;
  }

  .infoExtraPerfilbox p {

    font-size: 1.4em;
  }

  .biograficaPerfilBox p {

    font-size: 1.2em;
  }

  .infoBasicaPerfilBox p {

    font-size: 2em;
  }

  .followPerfilBox p {

    font-size: 1em;
  }
}

@media (max-width: 425px) {

  .infoBasicaPerfilBox p {

    font-size: 1.8em;
  }

  .followPerfilBox p {

    font-size: 0.9em;
  }

  .headerPerfilBox p {

    font-size: 18px;
  }
}

/* Responsividade para o eixo y */

@media (max-height: 925px) {

  .feedConteinerPerfilBox {

    height: 40%;
  }

  .midContentPerfilBox {

    height: 17.5%;
  }

  .topContentPerfilBox {

    height: 7.5%;
  }
}

@media (max-height: 800px) {

  .feedConteinerPerfilBox {

    height: 35%;
  }

  .midContentPerfilBox {

    height: 20%;
  }

  .topContentPerfilBox {

    height: 10%;
  }
}

@media (max-height: 700px) {

  .feedConteinerPerfilBox {

    height: 30%;
  }

  .midContentPerfilBox {

    height: 22.5%;
  }

  .topContentPerfilBox {

    height: 12.5%;
  }
}

@media (max-height: 600px) {

  .feedConteinerPerfilBox {

    height: 25%;
  }

  .midContentPerfilBox {

    height: 25%;
  }

  .topContentPerfilBox {

    height: 15%;
  }
}

