html {

    font-size: 62.5%;
}

.conteinerH {

    height: 100%;
    width: 100%;

    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-color: #afafaf;
}

.contentH {

    height: 90%;
    width: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.monitorH {

    height: 70%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    border: solid;
    border-width: 3px;

    box-shadow: rgba(0,0,0,0.2) -10px 10px 10px;
    background-color: #FFF;

    z-index: 1;
}

.necleH {

    height: 2.5%;
    width: 35%;

    border-left: solid;
    border-right: solid;
    border-width: 3px;

    background-color: #FFF;
}

.cabinetH {

    height: 15%;
    width: 115%;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;

    border: solid;
    border-width: 3px;

    box-shadow: rgba(0,0,0,0.2) -10px 10px 10px;
    background-color: #FFF;
}

.screenH {

    width: 90%;
    height: 90%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    border: solid;
    border-width: 3px;
    border-radius: 10px;

    box-shadow: rgba(0,0,0,0.2) 0px 0px 15px 10px inset;
    background: linear-gradient(to bottom, #7F39FB, #FC80B5);
}

.imageH {

    height: 30%;
    width: 65%;
}

.screenContentH {

    width: 30%;
    height: 10%;

    border: solid;
    border-width: 3px;
    outline: none;
    margin-top: 5%;

    background-color: #FFF;
    box-shadow: rgba(0,0,0,0.2) -5px 5px 10px;

    transition: transform 2s;
}

.screenContentH:hover {

    transform: scale(1.2);
}

.screenContentH button {

    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 0;
    outline: none;

    font-size: 2.4em;
    font-family: 'Roboto Mono';

    background: transparent;
}



.fonteH {

    text-decoration: none;
}

.firsthContentH {

    width: 20%;
    height: 50%;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;

    margin-left: 5%;
}

.bigDotH {

    height: 80%;
    width: 22.5%;

    display: flex;
    align-items: center;
    justify-content: center;

    border: solid;
    border-width: 3px;
    border-radius: 100%;

    box-shadow: rgba(0,0,0,0.2) -2.5px 2.5px 5px; 
    background-color: #FFF;

    transition: transform 1s;
}

.bigDotH:hover {

    transform: scale(1.1);
}

.smallDotH {

    height: 55%;
    width: 15%;

    display: flex;
    align-items: center;
    justify-content: center;

    border: solid;
    border-width: 3px;
    border-radius: 100%;

    box-shadow: rgba(0,0,0,0.2) -2.5px 2.5px 5px; 
    background-color: #FFF;

    transition: transform 1s;
}

.smallDotH:hover {

    transform: scale(1.1);
}

.secondContentH {

    width: 30%;
    height: 50%;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row-reverse;

    margin-right: 5%;
}

.squareH {

    width: 80%;
    height: 55%;

    border: solid;
    border-width: 3px;

    box-shadow: rgba(0,0,0,0.2) -2.5px 2.5px 5px;
    background-color: #FFF;
}

.inputH {

    width: 10%;
    height: 55%;

    display: flex;
    align-items: center;
    justify-content: center;

    border: solid;
    border-width: 3px;
    border-radius: 50%;

    box-shadow: rgba(0,0,0,0.2) -2.5px 2.5px 5px;
    background-color: #FFF;

    transition: transform 1s;
}

.inputH:hover {

    transform: scale(1.1);
}

/* Responsividade para o eixo x */

@media (max-width: 1800px) {

    .contentH {

        width: 55%;
    }
}

@media (max-width: 1650px) {

    .contentH {

        width: 60%;
    }
}

@media (max-width: 1440px) {

    .contentH {

        width: 65%;
        height: 85%;
    }
}

@media (max-width: 1220px) {

    .contentH {

        width: 70%;
        height: 80%;
    }
}

@media (max-width: 1024px) {

    .contentH {

        width: 75%;
        height: 70%;
    }

    .screenContentH {

        width: 40%;
        height: 12.5%;
    }
}

@media (max-width: 768px) {

    .contentH {

        width: 80%;
        height: 60%;
    }
}

@media (max-width: 600px) {

    .contentH {

        height: 100%;
        width: 100%;
    }

    .imageH {

        height: 15%;
        width: 80%;

        margin-bottom: 15%;
    }

    .screenContentH {

        height: 8%;
        width: 50%;
    }

    .monitorH {

        height: 70%;
        width: 85%;
    }

    .screenH {

        height: 95%;
    }

    .necleH {

        width: 0%;
        height: 0%;

        border: none;
    }

    .cabinetH {

        width: 0%;
        height: 0%;

        border: none;
    }

    .squareH {

        border: none;
    }

    .smallDotH {

        border: none;
    }

    .bigDotH {

        border: none;
    }

    .inputH {

        border: none;
    }

    .resetIconH {

        color: transparent;
    }

    .powerIconH {
        
        color: transparent;
    }

    .inputIconH {

        color: transparent;
    }
}

@media (max-width: 425px) {

    .monitorH {

        width: 90%;
        height: 75%;
    }

    .imageH {

        width: 90%;
        height: 12.5%;
    }

    .screenContentH {

        width: 60%;
    }
}

/* Responsividade para o eixo y */

@media (max-height: 925px) {

    .contentH {

        height: 100%;
    }
}

@media (max-height: 800px) {

    .monitorH {

        height: 72%;
        width: 90%;
    }

    .cabinetH {

        height: 16%;
        width: 105%;
    }
}

@media (max-height: 700px) {

    .monitorH {

        width: 85%;
        height: 75%;
    }

    .cabinetH {

        width: 95%;
        height: 18%;
    }

    .screenContentH {

        height: 12%;
    }
}

/* Responsividade para os eixos x e y */

@media (max-width: 1024px) and (max-height: 768px) {

    .contentH {

        height: 90%;
    }
}

@media (max-width: 600px) and (max-height: 768px) {

    .cabinetH {

        height: 0%;
    }

    .contentH {

        height: 100%;
        width: 90%;
    }

    .imageH {

        height: 20%;

        margin-bottom: 5%;
    }
}

@media (max-width: 600px) and (max-height: 850px) {

    .cabinetH {

        height: 0%;
    }

    .contentH {

        height: 95%;
        width: 90%;
    }

    .imageH {

        height: 17.5%;

        margin-bottom: 7.5%;
    }
}