html {

    font-size: 62.5%;
}

.conteinerCommunityBox {

    width: 40%;
    height: 95%;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

    position: absolute;
    top: 5%;
    left: 30%;

    border-right: solid;
    border-right-width: 3px;
    border-left: solid;
    border-left-width: 3px;

    background-color: #FFF;
    box-shadow: rgba(0,0,0,0.2) 0px 0px 10px 10px;
}

.headerCommunityBox {

    width: 90%;
    height: 5%;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;

    border-bottom: solid;
    border-width: 3px;

    padding-left: 2%;
    padding-right: 2%;

    margin-top: 5%;
}

.headerCommunityBox p {

    width: 80%;

    display: flex;
    align-items: center;
    justify-content: flex-end;

    font-size: 22px;
    font-weight: bold;

}

.returnIconCommunityBox {

    width: 35px;
    height: 35px;

    transition: transform 1.5s;
}

.returnIconCommunityBox:hover {

    transform: scale(1.25)
}