html {

    font-size: 62.5%;
}

.conteinerCommunityBox {

    width: 40%;
    height: 95%;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

    position: absolute;
    top: 5%;
    left: 30%;

    border-right: solid;
    border-right-width: 3px;
    border-left: solid;
    border-left-width: 3px;

    background-color: #FFF;
    box-shadow: rgba(0,0,0,0.2) 0px 0px 10px 10px;
}

.headerCommunityBox {

    width: 90%;
    height: 5%;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;

    border-bottom: solid;
    border-width: 3px;

    padding-left: 2%;
    padding-right: 2%;

    margin-top: 5%;
}

.headerCommunityBox p {

    width: 80%;

    display: flex;
    align-items: center;
    justify-content: flex-end;

    font-size: 22px;
    font-weight: bold;

}

.returnIconCommunityBox {

    width: 35px;
    height: 35px;

    transition: transform 1.5s;
}

.returnIconCommunityBox:hover {

    transform: scale(1.25)
}

/* Responsividade para o eixo x */

@media (max-width: 1800px) {

    .conteinerCommunityBox { 
  
      width: 45%;
  
      left: 27.5%;
    }
  }
  
  @media (max-width: 1650px) {
  
    .conteinerCommunityBox {
  
      width: 50%;
  
      left: 25%;
    }
  }
  
  @media (max-width: 1440px) {
  
    .conteinerCommunityBox {
  
      width: 55%;
  
      left: 22.5%;
    }
  }
  
  @media (max-width: 1220px) {
  
    .conteinerCommunityBox {
  
      width: 60%;
  
      left: 20%;
    }
  }
  
  @media (max-width: 1024px) {
  
    .conteinerCommunityBox {
  
      width: 65%;
  
      left: 17.5%;
    }
  }
  
  @media (max-width: 900px) {
  
    .conteinerCommunityBox {
  
      width: 70%;
  
      left: 15%;
    }
  }
  
  @media (max-width: 825px) {
  
    .conteinerCommunityBox {
  
      width: 75%;
  
      left: 12.5%;
    }
  }
  
  @media (max-width: 768px) {
  
    .conteinerCommunityBox {
  
      width: 80%;
  
      left: 10%;
    }
  }
  
  @media (max-width: 680px) {
  
    .conteinerCommunityBox {
  
      width: 90%;
  
      left: 5%;
    }
  }
  
  @media (max-width: 600px) {
  
    .conteinerCommunityBox {
  
      width: 100%;
  
      left: 0%;
    }
  }
  
  @media (max-width: 425px) {
  
  
  }
  
  /* Responsividade para o eixo y */
  
  @media (max-height: 925px) {
  
  
  }
  
  @media (max-height: 800px) {
  
  
  }
  
  @media (max-height: 600px) {
  
  
  }
  
  /* Responsividade para o eixo x e y */
  
  @media (max-width: 1024px) and (max-height: 768px) {
  
  
  }
  
  @media (max-width: 600px) and (max-height: 768px) {
  
  
  }
  
  @media (max-width: 600px) and (max-height: 850px) {
  
  
  }
  
  @media (max-width: 600px) and (max-height: 950px) {
  
  
  }