.conteinerSignin {

    height: 100%;
    width: 100%;
    position: absolute;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    background: linear-gradient(to bottom, #7F39FB, #FC80B5);
}

.titleBoxSignin {

    width: 22.5%;
    height: 22.5%;
    position: absolute;
    left: 27.5%;
    top: 22.5%;
    background-color: #FFF;
    border: solid;
    border-width:2px;
    box-shadow: rgba(0,0,0, 0.2) -10px 10px 10px;
}

.titleBarSignin {

    width: 100%;
    height: 12.5%;
    background-color: #FFF;
    display: flex;
    border-width:3px;
    border-bottom:solid;
    padding-left: 5px;
    box-shadow: rgba(0,0,0,0.2) 0px 5px 10px;
    align-items:center;
    
}

.titleBarSignin p {

    width:95%;
    font-size: 20px;
    font-family:''Roboto Mono', monospace;';
    font-weight: bold;
}

.closeIconSignin {

    transition: transform 0.5s;
    border:none;
    color:black;
    padding-top:10%;
}

.closeIconSignin:hover {

    transform: scale(1.1);
}

.titleContentSignin { 

    width:100%;
    height: 87%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap:unset;
    position:relative;
}

.titleContentSignin h1 {

    font-size: 30px;
    font-family: ''Roboto Mono', monospace;';
    font-weight: bold;
}

.titleProgressBarSignin {

    height: 15%;
    width: 75%;
    margin-top: 10px;
    border:solid;
    border-radius: 20px;
    border-width: 2px;
    transition: transform 1.5s;
}

.titleProgressBarSignin:hover {

    transform: scale(1.05);
}

.progressBarSignin {

    height: 100%;
    width: 80%;
    background: linear-gradient(to right, #7F39FB, #FC80B5 ,rgba(252,128,181, 0.0));
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}

.signinBoxSignin {

    width: 27.5%;
    height: 30%;
    position: absolute;
    left: 37.5%;
    top: 40%;
    background-color: #FFF;
    border: dashed;
    border-width: 2px;
    border-radius: 5px;
    box-shadow: rgba(0,0,0, 0.2) -5px 5px 10px;
    display:flex;
    flex-direction:column;
    justify-content:center
}

.signinContentSignin {

    width: 100%;
    height: 75%;
    display: flex;
    align-items:center;
    flex-direction: column;
    justify-content: center;
    padding-top: 5%;
}

.contentSignin {

    height: 35%;
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    background-color: transparent;
}

.contentSignin:first-child {

    margin-bottom: 2.5%;
}

.contentSignin p {

    font-size: 18px;
    font-family: ''Roboto Mono', monospace;';
    font-weight: 500;
    padding-left: 10%;
    background-color: transparent;
    color: rgb(156, 156, 156);
    margin-bottom: 1%;
}

.emailBoxSignin {

    width: 100%;
    height: 50%;
    align-items:center;
    justify-content: center;
    display: flex;
    background-color: transparent;
}

.emailBoxSignin input {

    width: 80%;
    border: solid;
    border-width: 2px;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    font-family: ''Roboto Mono', monospace;';
    transition: transform 1s;
    box-shadow: rgba(0,0,0,0.2) -10px 10px 10px;
    border-color: rgb(156, 156, 156);
    outline: none;
}

.emailBoxSignin input:hover {

    transform: scale(1.05);
}

.passwordBoxSignin {

    width: 100%;
    height: 50%;
    align-items: center;
    justify-content: center;
    display: flex
}

.passwordBoxSignin input {

    width: 80%;
    border: solid;
    border-width: 2px;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    font-family: ''Roboto Mono', monospace;';
    transition: transform 1s;
    box-shadow: rgba(0,0,0,0.2) -10px 10px 10px;
    border-color: rgb(156, 156, 156);
    outline: none;
}

.passwordBoxSignin input:hover {

    transform: scale(1.05);
}

.bottomContentSignin {

    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right:5%;
    background-color: transparent;
}

.arrowIconSignin {

    transition: transform 1s;
    color:#000;
    background-color: transparent;
}

.arrowIconSignin:hover {

    transform: scale(1.25);
}

@media (max-width: 1700px) {

    .signinBoxSignin {

        width: 32.5%;
        left: 35%;
    }

    .titleBoxSignin {

        width: 27.5%;
        left: 25%;
    }
}

@media (max-width: 1450px) {

    .signinBoxSignin {

        width: 37.5%;
        left: 32.5%;
    }

    .titleBoxSignin {

        width: 32.5%;
        left: 22.5%;
    }
}

@media (max-width: 1200px) {

    .signinBoxSignin {

        width: 42.5%;
        left: 30%;
    }

    .titleBoxSignin {

        width: 37.5%;
        left: 20%;
    }
}

@media (max-width: 1000px){

    .signinBoxSignin {

        width: 52.5%;
        left: 25%;
        height: 25%;
        top: 42.5%;
    }

    .titleBoxSignin {

        width: 47.5%;
        left: 15%;
        height: 17.5%;
        top: 30%;
    }

    .contentSignin p {

        font-size: 16px;
    }

    .emailBoxSignin input{

        height: 90%;
    }

    .passwordBoxSignin input {

        height: 90%;
    }

    .titleBarSignin {

        height: 15%;
    }

    .titleBarSignin p {

        font-size: 16px;
    }

    .closeIconSignin {

        width: 25px;
        height: 25px;
    }

    .titleContentSignin{

        padding-bottom: 10px;
    }

    .titleContentSignin h1 {

        font-size: 24px;
    }
}

@media (max-width: 750px) {

    .signinBoxSignin {

        width: 62.5%;
        left: 20%;
        height: 20%;
        top: 45%;
    }

    .titleBoxSignin {

        width: 57.5%;
        left: 10%;
        height: 12.5%;
        top: 36.5%;
    }

    .titleBarSignin {

        height: 20%;
    }

    .contentSignin p {

        font-size: 14px;
    }

    .titleBarSignin p {

        font-size: 14px;
    }

    .closeIconSignin {

        width: 22.5px;
        height: 22.5px;
    }

    .arrowIconSignin {

        width: 30px;
        height: 30px;
    }

    .titleContentSignin {

        padding-bottom: 20px;
    }
}

@media (max-width: 550px) {

    .signinBoxSignin {
        width: 82.5%;
        left: 12.5%;
    }

    .titleBoxSignin {
        width: 77.5%;
        left: 5%;
    }
}

@media (max-width: 400px) {

    .signinBoxSignin {
        width: 100%;
        left:0%;
    }

    .titleBoxSignin {
        width: 100%;
        left: 0%;
    }
} 