html {

    font-size: 62.5%;

}

.conteinerSI {

    height: 100%;
    width: 100%;

    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: column-reverse;

    background: linear-gradient(to bottom, #7F39FB, #FC80B5);
}

.incorrectSI{

    height: 0px;

    padding-top: 0.5%;
    
    font-size: 2px;
    color: #ff0000;

    display: none;
}

.titleBoxSI {

    width: 22.5%;
    height: 20%;

    position: relative;
    right: 10%;
    top: 3.5%;

    border: solid;
    border-width:2px;

    box-shadow: rgba(0,0,0, 0.2) -10px 10px 10px;
    background-color: #FFF;
}

.titleBarSI {

    width: 100%;
    height: 15%;

    align-items:center;
    display: flex;
    justify-content: space-between;

    border-width:3px;
    border-bottom:solid;

    box-shadow: rgba(0,0,0,0.2) 0px 5px 10px;
    background-color: #FFF;
}

.titleBarSI p {

    font-size: 1.8rem;
    line-height: 1.8rem;

    font-family:'Roboto Mono';
    font-weight: bold;

    padding-left: 5px;
}

.closeIconSI {

    display: flex;
    align-items: center;

    border:none;
    margin-right: 2px;

    color:black;

    transition: transform 0.5s;
}

.closeIconSI:hover {

    transform: scale(1.15);
}

.titleContentSI { 

    width:100%;
    height: 85%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.titleContentSI h1 {

    font-size: 2.8rem;
    line-height: 2.8rem;

    font-family: 'Roboto Mono';
    font-weight: bold;
    color: black;

    margin-bottom: 2%;

}

.titleProgressBarSI {

    height: 15%;
    width: 75%;

    border:solid;
    border-radius: 20px;
    border-width: 2px;

    overflow: hidden;

    transition: transform 1.5s;
}

.titleProgressBarSI:hover{

    transform: scale(1.05);
}

.titleProgressBarSI:hover .progressBarSI{

    transform:translateX(100%)
}

.progressBarSI {

    height: 100%;
    width: 100%;

    position: relative;
    right: 100%;

    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;

    background: linear-gradient(to right, #7F39FB, #FC80B5 ,#FFF);
    transition: transform 5s;
}

.signinBoxSI {

    width: 30%;
    height: 30%;

    position: relative;
    display:flex;
    flex-direction:column;
    justify-content:flex-end;
    align-items: center;

    border: dashed;
    border-width: 2px;
    border-radius: 5px;

    box-shadow: rgba(0,0,0, 0.2) -5px 5px 10px;
    background-color: #FFF;
}

.signinContentSI {

    width: 100%;
    height: 80%;

    display: flex;
    align-items:center;
    flex-direction: column;
    justify-content: center;
}

.contentSI {

    height: 35%;
    width: 100%;

    display:flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.contentSI:first-child {

    margin-bottom: 2.5%;
}

.contentSI p {

    font-size: 1.6rem;
    font-family: 'Roboto Mono';
    font-weight: 500;

    padding-left: 10%;
    padding-bottom: 1.5%;

    background-color: transparent;
}

.emailBoxSI {

    width: 100%;
    height: 50%;

    display: flex;
    align-items:center;
    justify-content: center;
}

.emailBoxSI input {

    width: 80%;

    border: solid;
    border-width: 2px;
    border-radius: 5px;
    padding: 10px;
    
    font-size: 1.4rem;
    font-family: 'Roboto Mono';

    outline: none;
    border-color: #a0a0a0;
    box-shadow: rgba(0,0,0,0.2) -10px 10px 10px;

    transition: transform 1s;
}

.emailBoxSI input:hover {

    transform: scale(1.05);
}

.passwordBoxSI {

    width: 100%;
    height: 50%;

    align-items: center;
    justify-content: center;
    display: flex;
}

.passwordBoxSI input {

    width: 80%;

    border: solid;
    border-width: 2px;
    padding: 10px;
    border-radius: 5px;

    font-size: 16px;
    font-family: 'Roboto Mono';

    outline: none;
    border-color: #a0a0a0;
    box-shadow: rgba(0,0,0,0.2) -10px 10px 10px;
    
    transition: transform 1s;
}

.passwordBoxSI input:hover {

    transform: scale(1.05);
}

.bottomContentSI {

    width: 80%;
    height: 15%;

    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    padding-bottom: 3%;

    background-color: transparent;
}

.arrowIconSI {

    transition: transform 1s;

    color:#000;
    background-color: transparent;
}

.arrowIconSI:hover {

    transform: scale(1.25);
}

.buttonLinkSI {

    width: fit-content;
    height: fit-content;

    text-decoration: none;

    padding: 1%;
}

.buttonSI {

    width: 125px;
    height: 25px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    font-family: 'Roboto Mono';

    border: dashed;
    border-width: 2px;
    
    background-color: #FFF;

    transition: transform 1s;
}

.buttonSI:hover {

    transform: scale(1.05);
}

/* Responsividade para diminuição da interface - Eixo x*/

@media (min-width:1441px) {
    
    html {

        font-size: 70%;
    }
}

@media (max-width:1250px) {
    
    html {

        font-size: 55%;
    }
}

@media (max-width:1024px) {
    
    .signinBoxSI {

        width: 40%;
    }

    .titleBoxSI {

        width: 32.5%;
    }
}

@media (max-width:768px) {
    
    .signinBoxSI {

        width: 50%;
    }

    .titleBoxSI {

        width: 45%;
    }
}

@media (max-width:650px) {
    
    html {

        font-size: 45%;
    }
}

@media (max-width:550px) {
    
    .signinBoxSI {

        width: 65%;
    }

    .titleBoxSI {

        width: 60%;
    }
}

@media (max-width:425px) {
    
    .signinBoxSI {

        width: 90%;
        height: 25%;
    }

    .titleBoxSI {

        width: 90%;
        right: 0;
        height: 15%;
        top: 2.5%;
    }

    .closeIconSI {

        height: 15px;
        width: 15px;
    }

    .arrowIconSI {

        width: 30px;
        height: 30px;
    }
}

/* Responsividade para diminuição da interface - Eixo y */

@media (max-height: 900px) {

    .signinBoxSI {

        height: 40%;
    }

    .titleBoxSI {

        height: 30%;
    }

    .arrowIconSI {

        height: 40px;
        width: 40px;
    }

    .bottomContentSI {

        padding-bottom: 2%;
        padding-right: 2.5%;
    }
}

@media (max-height: 550px) {

    .signinBoxSI {

        height: 50%;
    }

    .titleBoxSI {

        height: 35%;
    }
}