html {

    font-size: 62.5%;
}

.conteinerConfigBox {

    width: 40%;
    height: 95%;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

    position: absolute;
    top: 5%;
    left: 30%;

    border-right: solid;
    border-right-width: 3px;
    border-left: solid;
    border-left-width: 3px;

    background-color: #FFF;
    box-shadow: rgba(0,0,0,0.2) 0px 0px 10px 10px;
}

.headerConfigBox {

    width: 90%;
    height: 5%;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;

    border-bottom: solid;
    border-width: 3px;

    padding-left: 2%;
    padding-right: 2%;

    margin-top: 5%;
}

.headerConfigBox p {

    width: 80%;

    display: flex;
    align-items: center;
    justify-content: flex-end;

    font-size: 22px;
    font-weight: bold;

}

.returnIconConfigBox {

    width: 35px;
    height: 35px;

    transition: transform 1.5s;
}

.returnIconConfigBox:hover {

    transform: scale(1.25)
}

.optionsConteinerConfigBox {

    width: 90%;
    height: 95%;

    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}

.optionConfigBox {

    width: 100%;
    height: 10%;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;

    margin-top: 2.5%;
}

.optionConfigBox button {

    height: 100%;
    width: 100%;

    border: none;
    border-bottom: solid;
    border-width: 2px;

    padding-left: 2%;
    outline: none;
    
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;

    background-color: transparent;

    transition: transform 1s;
}

.optionConfigBox button h1 {

    width: 35%;

    padding: 0 2% 0 2%;

    font-size: 16px;
    font-weight: 600;
    font-family: 'Roboto Mono';
    text-align: left;
}

.optionConfigBox button p {

    width: 65%;

    display: flex;
    align-items: center;
    justify-content: center;

    border-left: solid;
    border-width: 2px;

    padding-left: 2%;
    padding-right: 2%;

    font-size: 14px;
    font-weight: lighter;
    text-align: justify;
    font-family: 'Roboto Mono';
}

.optionConfigBox button:hover {

    transform: scale(1.02);
}

.visibility {

    opacity: 0;
}

.visibility.show {

    opacity: 1;
}

.infoBoxConfigBox {

    width: 100%;
    height: 20%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    font-size: 1.6em;
    font-family: 'Roboto Mono';
    font-weight: bold;

    border-bottom: solid;
    border-width: 2px;
}

.buttonConteinerConfigBox {

    width: 50%;
    height: 40%;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;

    margin-top: 2%;
}

.buttonConteinerConfigBox button {

    width: fit-content;
    height: fit-content;

    border: dashed;
    border-width: 2px;

    outline: none;
    padding: 2%;

    font-size: 12px;
    font-family: 'Roboto Mono';
    font-weight: bold;

    background-color: #FFF;
    transition: transform 1s;
}

.buttonConteinerConfigBox button:hover {

    transform: scale(1.1);
}

.inputConteinerConfigBox {

    width: 50%;
    height: 20%;

    padding-left: 10%;

    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: column;

    font-size: 14px;
}

.inputConteinerConfigBox input {

    width: 75%;
    height: 75%;

    border: solid;
    border-width: 2px;
    border-radius: 5px;

    padding: 1%;
    outline: none;

    background-color: transparent;
    box-shadow: rgba(0,0,0,0.2) -5px 5px 5px;

    transition: transform 1s;
}

.inputConteinerConfigBox input:hover {

    transform: scale(1.05);
}

.duoInputConfigBox {

    width: 100%;
    height: 20%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.passwordButtonConfigBox {

    width: 100%;
    height: 10%;

    display: flex;
    align-items: center;
    justify-content: center;

}

.passwordButtonConfigBox button {

    width: 20%;
    height: 100%;

    border: dashed;
    border-width: 2px;

    font-size: 12px;
    font-weight: bold;
    font-family: 'Roboto Mono';

    background-color: #FFF;

    transition: transform 1s;
}

.passwordButtonConfigBox button:hover {

    transform: scale(1.05);
}
