
.conteinerNB {

    height: 5%;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    position: absolute;
    top: 0px;
    right: 0px;

    z-index: 1;

    border-bottom: solid;
    border-bottom-width: 3px;

    background-color: #FFF;
    box-shadow: rgba(0,0,0,0.2) 0px 10px 10px;
}

.midleContentNB {

    height: 100%;
    width: 90%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.searchIconNB {

    width: 2.5%;
    height: 65%;

    display: flex;
    align-items: center;
    justify-content: center;

    border:solid;
    border-radius: 50px;

    background-color: black;

    transition: transform 1.5s;
}

.searchIconNB:hover {

    transform: scale(1.1);
}

/*.firstContentNB {

    width: 33%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: flex-start;

    padding-left: 1.4%;
}

.secondContentNB {

    width: 33%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: flex-end;

    padding-right: 1%;
}

.searchBoxNB {

    width: 33%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.searchBoxNB input{
    
    width: 70%;
    height: 65%;

    border: solid;
    border-width: 2px;
    border-radius: 50px;

    padding: 10px;

    background-color: #FFF;
}

.expandedNB {

    width: 33%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: flex-start;

    padding-left: 6%;
}*/