.selectSC-SU {

    width: 90%;
    height: 100%;

    outline: none;
}

.selectSC-FB {

    width: 95%;
    height: 5%;

    display: flex;
    align-items: flex-start;
    justify-content: center;

    margin-top: 5%;

    outline: none;
}

.selectSC-SUContent {

    width: 100%;
    height: 50%;

    outline: none;

    transition: transform 1.5s;
}

.selectSC-FBContent {

    width: 100%;
    height: 50%;

    outline: none;
}

.selectSC-SUContent:hover {

    transform: scale(1.025);
}
